numpy~=1.26.2
torchvision~=0.16.1
psutil
faiss_cpu
tqdm
torch~=2.1.1+cu121
Pillow~=10.0.1
scikit_learn
torchscan
googledrivedownloader
requests
timm
transformers
einops
torch-pruning
dill~=0.3.7
pandas~=2.1.3